<h2>Edit User profile</h2>
<div>
    <p>
        <input type="text" ng-model="user.name" placeholder="Name of the user">
    </p>
    <p>
        <input type="text" ng-model="user.email" placeholder="Email">
    </p>
    <p>
        <input type="text" ng-model="user.qualification" placeholder="Qualification">
    </p>
    <p>
        <input type="text" ng-model="user.mobile" placeholder="Mobile">
    </p>
    <p>
        <input type="text" ng-model="user.skills" placeholder="Skills">
    </p>
    <p>
        <input type="text" ng-model="user.location" placeholder="Location">
    </p>
    <p>
        <input type="text" ng-model="user.year_passing" placeholder="Year of passing">
    </p>
    <p>
        <select ng-model="user.gender" ng-options="obj.value as obj.text for obj in genders">
              <option value="">-- choose gender --</option>
        </select>
    </p>
    <p>
        <input type="text" ng-model="user.current_employer" placeholder="Current Employer">
    </p>

    <p>
        <button ng-show = "user._id" ng-click="updateUser(user)">Update User</button>
    </p>
</div>