<div>
    <input type="text" ng-model="user.name" placeholder="Name of the user">
    <input type="text" ng-model="user.email" placeholder="Email">
    <input type="text" ng-model="user.qualification" placeholder="Qualification">
    <button ng-hide = "user._id" ng-click="addNewUser(user)">Add User</button>
    <button ng-show = "user._id" ng-click="updateUser(user)">Update User</button>
    <br>
    <input ng-model="search" placeholder="Search">
    <hr>
    <div class="datagrid">
        <table>
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Qualification</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{alt: $even, odd: $odd}" ng-repeat="user in users | filter:search track by $index">
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.qualification}}</edit-in-place></td>
                    <td><a href="#/user/edit/{{user._id}}">Edit</a></td>
                    <td><a href="#/user/view/{{user._id}}">View</a></td>
                    <td><a href="#/user/delete/{{user._id}}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    </div>
</div>