<div class="row">
	<div class="col-lg-2">
    	&nbsp;
    </div>
    <div class="col-lg-8">
    	<h2>View User profile</h2>
     	<div class="blog-post">
        	<h4>User Name</h4>
             <p>
        	{user.name}}
    		</p>
        </div>
        <div class="blog-post">
        	<h4>User Email</h4>
             <p>
        		{{user.email}}
    		</p>
        </div>
        <div class="blog-post">
        	<h4>Qualification</h4>
            <p>
        		{user.qualification}}
    		</p>

        </div>
        <div class="blog-post">
        	<h4>Mobile Number</h4>
             <p>
        	{user.mobile}}
    		</p>
        </div>
        <div class="blog-post">
        	<h4>Skills</h4>
            <p>
        	{{user.skills}}
    		</p>
        </div>
        <div class="blog-post">
        	<h4>Location</h4>
             <p>
        	{{user.location}}
    		</p>

        </div>
    	<div class="blog-post">
        	<h4>Passing Year</h4>
            <p>
        	{{user.year_passing}}
    		</p>

        </div>
        <div class="blog-post">
        	<h4>Gender</h4>
              <p>
        		{{user.gender}}
    		</p>	
        </div>
        <div class="blog-post">
        	<h4>Current Employer</h4>
              <p>
        		{{user.current_employer}}
    		  </p>

        </div>
 
    </div>
    <div class="col-lg-2">
    	&nbsp;
    </div>
</div>


<!--<h2>View User profile</h2>
<div>
    <p>
        {{user.name}}
    </p>
    <p>
        {{user.email}}
    </p>
    <p>
        {{user.qualification}}
    </p>
    <p>
        {{user.mobile}}
    </p>
    <p>
        {{user.skills}}
    </p>
    <p>
        {{user.location}}
    </p>
    <p>
        {{user.year_passing}}
    </p>
    <p>
        {{user.gender}}
    </p>
    <p>
        {{user.current_employer}}
    </p>

</div>-->